* {
    margin: 0px;
    padding: 0px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: #000;
    font-family: "BodoniSvtyTwoOSITCTT-Bold", "Georgia", serif;
    text-rendering: optimizeLegibility;
}

#container {
    width: 95vw;
    height: 98vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: none;
    overflow: hidden;
}

#header, #footer {
    display: block;
    float: left;
    width: 100%;
    color: #EB3E2F;
    opacity: 0.5;
    text-align: center;
    text-shadow: 0px 1px 0px #A70A0B, 0px -1px 0px #FE6F4F;
    background-color: none;
    font-size: 12vw;
    font-weight: bold;
    padding: 8px 0px 8px 0px;
    transition-property: background-color;
    transition-duration: 1s;
    -moz-transition-property: background-color;
    -moz-transition-duration: 1s;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 1s;
}

#footer {
    font-size: 5vw;
    margin-bottom: 80px;
}

#footer a {
    text-decoration: underline;
    color: #EB3E2F;
}

#board {
    display: block;
    float: left;
    width: 100%;
    height: 80%;
    background-color: #fff;
    margin-bottom: 10px;
    box-shadow: 0px 3px #919191;
}

#signin {
    color: #EB3E2F;
    font-size: 1.6em;
    margin-bottom: 0.5em;
    text-align: center;
}

#signin input {
    color: #EB3E2F;
    background-color: #000;
    width: 95%;
    border: 2px solid #A70A0B;
    font-size: 0.7em;
}

#submit {
    color: #EB3E2F;
    font-size: 1.4em;
    margin-bottom: 0.5em;
    text-align: center;
}

#submit input {
    color: #EB3E2F;
    background-color: #000;
    width: 95%;
    border: 2px solid #A70A0B;
    font-size: 0.7em;
}

#submit p {
    margin-bottom: 0.8em;
}

#hints {
    color: #EB3E2F;
    font-size: 1em;
}

.square, .freesquare {
    float: left;
    overflow: hidden;
    background-color: #fff;
    color: #313131;
    text-align: center;
    width: 20%;
    height: 20%;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #d1d1d1;
    transition-property: background-color;
    transition-duration: 1s;
    -moz-transition-property: background-color;
    -moz-transition-duration: 1s;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 1s;
}

.selected {
    color: #f1f1f1;
    background-color: #313131;
}

.text {
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Arial, sans-serif;
    vertical-align: middle;
    font-size: 3.5vmin;
    line-height: 1.2em;
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

.small {
    font-size: 0.8em;
}

.medium {
    font-size: 1.0em;
}

.large {
    font-size: 1.2em;
}

.win {
    color: #ffffff !important;
    background-color: red;
}
